.App-header {
    font-size: calc(10px + 2vmin);
    background:rgba(0,0,0,0.5);
    position: fixed;
    width:100%;
    height: 60px;
}

 .Logo-title {
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    margin: 0;
    padding: 0;
    transform: translate(0%, -50%);
}