.Education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Eucation-bg {
    position:absolute;
    width: 100%;
    height: 540px;
    bottom: 0px;
    z-index: -1;
}

.Education-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Education-container-title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
}