.Main-navigator {
    margin-right: 20px;
    padding: 0;
}

ul.Main-side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

li {
    display:inline;
}

ul.Main-side-nav li a {
    color: #ffffff;
    padding: 0px 0px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

ul.Main-side-nav li:not(:nth-child(5)) a:after {
    content: url('./white-slash.svg');
}

/* 

ul.Main-side-nav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.Main-side-nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.Main-side-nav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.Main-side-nav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.Main-side-nav li a {
        text-align: center;
        float: none;
    }
} */